.news-card.big,
.news-card.small {
  background-color: var(--card-bg) !important;
  color: var(--text-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.news-card.big .news-body,
.news-card.small .news-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reactions {
  margin-top: 1em;
  font-size: 14px;
  color: var(--reaction-color);
  display: flex;
  align-items: center;
}
