:root {
  --background-color: #f0f2f5;
  --text-color: #000;
  --card-bg: #fff;
  --reaction-color: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #141414;
    --text-color: #f0f2f5;
    --card-bg: #1f1f1f;
    --reaction-color: #aaa;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, system-ui;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
